.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.closeInfo {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.container .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.container .footer .cancel-btn {
    background-color: red;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.buttons button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #1e5945;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttons button.active {
    background-color: #45b592;
    color: #fff;
}

.buttons button:focus {
    background-color: #45b592;
    color: #fff;
    outline: 1px solid white;
    outline-offset: 2px;
}

.pred-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.pred-buttons button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pred-buttons button.active {
    background-color: #0056b3;
}

.pred-buttons button:focus {
    background-color: #0056b3;
    outline: 1px solid white;
    outline-offset: 2px;
}

.dropdown {
    font-size: 2rem;
    width: 100%;
    height: 50px;
    background-color: #dedddd;
    border-radius: 8px;
    margin-top: 5px;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.data-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}