.list {
    padding: 1rem;
}
Table thead {
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
}

.header-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #1E5945;
}
