.stock-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .stock-list-title{
    color: black;
    font-size: 25px;
    margin-left: 50px;
  }

  .stock-list-title.visible{
    color: #1E5945;
  }

  .stock-list-title.hidden{
    color: #7c2727;
  }


  .toggleContainer {
    display: flex;
    align-items: center;
  }
  
  .toggle-container {
    position: relative;
    width: 100px;
    height: 42px;
    background-color: white;  
    border-radius: 30px;
    cursor: pointer;
    margin: 20px;
  }

  .toggle-container.visible{
    background-color: #04AA6D;
  }

  .toggle-container.hidden{
    background-color: #8b4a4a;
  }
  
  .toggle-button {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .toggle-button.visible {
    transform: translateX(58px);
  }
  
  .toggle-button.hidden {
    transform: translateX(0);
  }
  
  .share-button {
    background-color:#1E5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 10px; 
    margin: 20px;
  }

  .add-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-button{
    background-color:#1E5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 10px; 
    margin: 20px;
  }

  .review-title {
    color: black;
    font-size: 25px;
    margin-left: 50px;
  }

  .reviews {
    background-color: #809A91;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: none;
  }

  .review-item {
    background-color: white;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #1E5945;
    height: auto;
  }

  .review-text {
    color: rgb(0, 0, 0);
    font-weight: lighter;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    height: auto;
    width: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 20px;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
  }

  .reviewer-info{
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: #6cac977a;
    border-radius: 5px;
    width: 300px;
  }

  .reviewer-name {
    margin-right: 20px;
  }
  
  .review-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .delete-review {
    background-color: #1E5945;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
  }

  .edit-review {
    background-color: #1E5945;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
  }

  .empty-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .empty-text {
    color: rgb(68, 65, 65);
    font-size: 15px;
  }

  .review-input {
    max-width: 95%;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    min-height: 30px;
  }

  .add-review-input {
    max-width: 95%;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 100px;
  }

  .add-review-button {
    background-color: #1E5945;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .add-review-title {
    color: rgb(63, 61, 61);
    font-size: 20px;
    margin-left: 50px;
  }

