.friendslist-header {
    background-color: #1E5945;
    padding: 10px 20px;
    color: white;
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friendslist {
    flex-direction: column;
    display: flex;
}

.profile {
    flex-direction: column;
}

.friendbutton {
    background-color: #1E5945;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.friendbutton:hover {
    background-color: #04AA6D;
}

.friendbutton:focus {
    background-color: #04a7aa;
}