.clickable-box{
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
    width: 50%;
    height: 0;
    padding-bottom: 25%;
}