.stock-info{
    background-color: white;
    padding: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: 75%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    padding-left: 1rem;
}

.list-side-container {
    display: flex;
}

.category-public {
    background-color: green;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
}

.category-shared {
    background-color: #8b4a4a;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
}