body {
    font-family: Arial, sans-serif;
    background-color: #809A91;
    margin: 0;
    padding: 0;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    background-color: #809A91;
}
.extra-info {
    padding: 0%;
}

.sick-stuff {
    display: flex;
    justify-content: space-around;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    background-color: #809A91;
}

.doing-stuff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 50%;
}

.doing-stuff button {
    background-color: #1E5945;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    width: 50%;
}

.doing-stuff button:hover {
    background-color: #04AA6D;
}
.portfolio-stat {
    background-color: #1E5945;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.portfolio-stat:hover {
    background-color: #007233;
    color: white;
    cursor: pointer;
}

.another-user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.another-user-left-title {
    margin-left: 50px;
}