.title {
    text-align: center;
    color: white;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid white;
    width: 90%;
    margin: 0 auto;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px atuo;
    box-sizing: border-box;
}
.searchBar{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.singleres {
    border: 1px solid white;
    display: flex;
    margin: 0 auto;
}

.button {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

.searc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.searchButton {
    border: 1px solid white;
    background-color: rgb(0 0 0 / 0%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}